img{
width:120px;
}
h1{
width:100%;
padding-bottom: 40px;
}
#entete{
padding-left:20px;
padding-left:20px;
}
#entete p{
font-size:16px;
margin-bottom:0px;
}
#entete h1{
margin-bottom:20px;
}
#lang img{
width:60px;
height:60px;
margin-bottom:15px;
}
nav{
width:100%
}
div{
text-align: center;
}
div.alleft p{
float: left;
}
div.btn-group{
margin-bottom:10px;
}
table.info{
margin-left:20px;
}

