img{
float: right;
width:120px;
margin-right:20px;
}
h1{
width:100%
}
#entete{
padding-left:20px;
padding-left:20px;
}
#entete p{
font-size:16px;
margin-bottom:0px;
}
#entete h1{
margin-bottom:20px;
}
#lang img{
width:60px;
height:60px;
margin-right:67px;
}
#lang p{
}
nav{
width:100%
}

